body{
    margin-top: 7rem;
 border: solid 2px red;    
}


.flex-box{
 
    display: grid;
    grid-template-columns: 20rem 1fr;
}

.services{
    width: 20rem;
    min-height: 20rem;
}
.service-container{
    max-width: 18rem;
    margin: 0 auto;
    background-color: rgb(224, 235, 235);
    margin-bottom: 1rem;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
    box-shadow: 10px 10px 30px 1px lightblue;
}
.service-icon{
    display: flex;
    width: 25%;
    margin:auto;
    margin-bottom: 0;
    padding-top: 1rem;
}
.service-description{
    display: flex;
    margin: auto;
    font-family: "orbitron", sans-serif;
    line-height: 2rem;
}
.service-description h3{
    margin-top: 0;
    color: #036dae;
    width: 7rem;
    margin-right: 0.8rem;
    margin-left: 0.5rem;
}
.service-description p{
    margin-top: 0.1rem;
    color: #036dae;
    font-size: 17px;
    width: 9rem;
}



.products{

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2rem;
    background-color: aqu;
}



.image-container{
    width: 70%;
    height: 58%;
    margin: 0 auto;
}
.image{
    width: 100%;
    height: 100%;
}


.product-title{
    margin: 1rem auto;
    padding-left: 0.5rem;
}

.price-sec{
    margin-left: 1rem;
}
.current-price{
    font-weight: bold;
    font-size: larger;
    margin-right: 0.5rem;
    color: red;
}
.original-price{
    color: rgb(125, 125, 125);
    text-decoration: line-through;
}



button {
    font-size: 15px;
    font-weight: bold;
    margin: 0;
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
}
button:hover {
    color: black;
    transition: 0.7s ease-in-out;

}
.purchase-button{
    display: flex;
    background-color: rgb(130, 208, 12);   
    width: 8rem;
    margin: auto;
    height: 2rem;
    margin-top: 0.7rem;
    border-top-left-radius: 7px;
    border-bottom-right-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}
.button-content{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.whatsapp-icon{
    width: 1.5rem;
    
}
a{
    text-decoration: none;
}
 @media (max-width: 773px) {
    .flex-box {
        display: flex;
        flex-direction: column;
    }
    .services{
        margin-left: 2rem;
    }

    .icon-links-body{
        display: flex;
        flex-direction: column;
        position: absolute;
        right: 2rem;
        top: 8rem;
    }
    .header-socials-svg-container{
        width: 3rem;
        margin-bottom: 1.4rem;

    }

 }

 @media (max-width: 457px) {
    .icon-links-body{
        display: none;
    }
 }